<div class="navigation-controller-header">
  <a class="back-button"><i class="fa fa-chevron-left"></i></a>
</div>
<iframe></iframe>
<div class="browser-footer">
  <button class="browser-back-button">
    <i class="fa fa-chevron-left"></i>
  </button>
  <button class="browser-share-button"><i class="fa fa-share-alt"></i></button>
  <button class="browser-forward-button"><i class="fa fa-chevron-right"></i>
  </button>
</div>
