@import "../config.less";

.Text {
	box-sizing: border-box;
	overflow: auto;
	color: @text-color;
}

.GroupView {
	margin-bottom: 20px;

	ul {
		overflow: visible;
		list-style: none;
		min-height: 34px;
		margin-bottom: 20px;
	}

	img[src=""] {
		display: none;
	}

	.header, .footer {
		color: @groupview-header-color;
		text-transform: uppercase;
		min-height: 0;
	}

	.header {
		padding: 0 10px 5px 10px;

		&:empty {
			padding-bottom: 0;
		}
	}

	.footer {
		text-align: center;
		margin-top: -2px;
	}

	.TextListItemView {
		text-align: center;
		background-color: @background-color;
		border-color: @background-color;
		border: none;
	}

	.StandardListItemView, .ChunkyListItemView {
		.Text {
			margin-right: 15px;
		}

		.img-container {
			background-color: @highlight-color;

			img {
				background-color: #FFF;
			}
		}
	}
	
	.ChunkyListItemView {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.VideoListItemView, .MultiVideoListItemView {
		background-color: #333;
		min-height: 90px;

		.chevron {
			display: none;
		}

		i {
			position: absolute;
			top: 50%;
			margin-top: -40px;
			color: #FFF;
			font-size: 80px;
			left: 0;
			width: 100%;

			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
			filter: alpha(opacity=90);
			opacity: 0.9;
		}
	}

	.AnimatedImageListItemView {
		.image-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.SpotlightImageListItemView {
		span {
			color: #FFF;
			font-size: 24px;
			position: absolute;
			width: 100%;
			left: 0;
			top: 50%;
			margin-top: -12px;
		}
	}

	.LogoListItemView, .LockedLogoListItemView {
		text-align: center;

		.img-container {
			float: none;
			margin: 10px;

			img {
				width: auto;
				height: auto;
			}
		}
	}
}
