<h4 class="win-type-large">Welcome to First Aid</h4>
<div class="screenshot">
  <img src="/images/onboard.png">
  <p class="callout">Tap here if you find yourself in an emergency situation</p>
</div>
<button class="ok-button">OK</button>
