<div class="question-header">
  <div class="question-title">{{l title}}</div>
  <div class="question-hint">{{l hint}}</div>
</div>
<div class="area-image">
  <img width="100%" src="{{getImageUrl image}}">
</div>
