<div class="question-header">
  <div class="question-title">{{l title}}</div>
</div>
<table class="category-grid">
  <thead>
    <tr>
      <th></th>
      {{#each categories}}
        <th>{{l this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody></tbody>
</table>
