<div class="header">
	<div class="quiz-back-button">{{l "_QUIZ_BUTTON_BACK"}}</div>
	<div class="progress">
		<div class="progress-text"></div>
		<progress>
	</div>
	<div class="quiz-next-button">{{l "_QUIZ_BUTTON_NEXT"}}</div>
</div>
<div class="page-content"></div>
<div class="new-page-content"></div>
