@highlight-color: #FC3D38;
@header-color: #FC3D38;
@header-text-color: #fff;

@border-color: #c8c7cc;
@background-color: #FAFAFA;
@foreground-color: #fff;

@title-color: #000;
@text-color: #808080;
@groupview-header-color: #6d6d72;

@title-font-size: 17px;
@font-size: 14px;
