{{#each pages}}
<div class="ListItem StandardListItemView clickable" data-uri="cache://pages/4776805.json">
	<span class="img-container" style="-webkit-mask-image:url('bundle/content/1397235207277_volunteer_80_x2.png'); mask-image:url('bundle/content/1397235207277_volunteer_80_x2.png')">
		<img src="bundle/content/1397235207277_volunteer_80_x2.png">
	</span>
	<div class="text-container">
		<div class="Text">{{l title}}</div>
	</div>
</div>
{{/each}}
