<img class="badge" src="{{getImageUrl badge.icon}}">
<h2>{{l quizPage.title}}</h2>
<small>{{quizPage.children.length}} [L]questions</small>
<button>{{l "_QUIZ_COLLECTION_BUTTON_BEGIN"}} <i class="fa fa-chevron-right" style="float:right; margin-top: 2px"></i></button>
