
.wp {
  #container {
    .page-content, .new-page-content {
      > div {
        padding: 0 24px;

        &.wp-TabbedPageCollection {
          padding: 0;
        }
      }
    }
  }

  .ListItem {
    background-color: transparent !important;

    &:first-child {
      border-top: none;
    }
  }

  .QuizBadgeShowcase {
    background-color: #E4282F !important;
  }

  .navigation-controller .page-transitioning.new-page-content {
    left: 0;
    right: 0;
  }
}
