.ListItem {
  background-color: transparent !important;
}

.QuizBadgeShowcase {
  background-color: #E4282F !important;
}

.navigation-controller .page-transitioning.new-page-content {
  left: 0;
  right: 0;
}
