<progress class="hidden"></progress>
<x-ms-webview width="100%" height="100%"></x-ms-webview>
<div data-win-control="WinJS.UI.AppBar"
     data-win-options="{placement: 'bottom'}"
     data-storm-win-body="browser-appbar">
  <button data-win-control="WinJS.UI.AppBarCommand"
       data-win-options="{label: 'Back', icon: 'back'}"
       class="back-button"></button>
  <button data-win-control="WinJS.UI.AppBarCommand"
       data-win-options="{label: 'Forward', icon: 'forward'}"
       class="forward-button"></button>
  <button data-win-control="WinJS.UI.AppBarCommand"
       data-win-options="{label: 'Open in browser', icon: 'globe'}"
       class="browser-button"></button>
</div>
