<div class="badge-list">
  {{#each badges}}
    <div class="badge-list-item{{#if isComplete}} completed{{/if}}" data-src="cache://pages/{{id}}.json">
      <img src="{{getImageUrl badge.icon}}">
    </div>
  {{/each}}
</div>
